{% extends 'base.html' %}

{% block content %}
<div class="signup_container">
  <h1 class="signup_title">Sign Up</h1>
  <form class="signup_form_container" method="post" action="{{ url_for('signup') }}">
    <label class="signup_label" for="username">Username</label>
    <input class="signup_input" type="text" name="username" required>
    <br>
    <label class="signup_label" for="password">Password</label>
    <input class="signup_input" type="password" name="password" required>
    <br>
    <input class="signup_submit" type="submit" value="Sign Up">
  </form>


</div>

{% endblock %}
